dataset-importer-service/src/main/resources/oaischema/Fechas equipos proyectos.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="main">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DATA_RECORD">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IDPROYECTO" type="xs:unsignedShort" />
              <xs:element name="NUMEROCOLABORADOR" type="xs:unsignedByte" />
              <xs:element name="NUMERO" type="xs:unsignedByte" />
              <xs:element name="CODTIPOPARTICIPACION" type="xs:string" />
              <xs:element name="HORASDEDICADAS" type="xs:string" />
              <xs:element name="CODTIPOMOTIVOCAMBIOFECHA" />
              <xs:element name="MOTIVOCAMBIOFECHA" />
              <xs:element name="FECHAINICIOPERIODO" type="xs:string" />
              <xs:element name="FECHAFINPERIODO" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>