dataset-importer-service/src/main/resources/oaischema/Persona.xsd

<!-- 25/05/2021 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="main">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DATA_RECORD">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IDPERSONA" type="xs:unsignedShort" />
              <xs:element name="NOMBRE" type="xs:string" />
              <xs:element name="PERS_CENT_CODIGO" type="xs:string" />
              <xs:element name="CED_NOMBRE" type="xs:string" />
              <xs:element name="PERS_DEPT_CODIGO" type="xs:string" />
              <xs:element name="DEP_NOMBRE" type="xs:string" />
              <xs:element name="SEXO" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>