src/main/resources/oaischema/Departamentos.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="main">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DATA_RECORD">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DEP_CODIGO" type="xs:string" />
              <xs:element name="DEP_NOMBRE" type="xs:string" />
              <xs:element name="DEP_CED_CODIGO" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>