dataset-importer-back/src/main/resources/oaischema/Articulo.xsd

<!-- 21/05/2021 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="main">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DATA_RECORD">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CODIGO" type="xs:unsignedShort" />
              <xs:element name="TITULO" type="xs:string" />
              <xs:element name="ANO" type="xs:unsignedShort" />
              <xs:element name="PAIS_CODIGO" type="xs:string" />
              <xs:element name="REIS_ISSN" type="xs:string" />
              <xs:element name="CATALOGO" type="xs:string" />
              <xs:element name="AREA" type="xs:unsignedShort" />
              <xs:element name="NOMBRE_REVISTA" type="xs:string" />
              <xs:element name="CUARTIL_REVISTA" type="xs:unsignedByte" />
              <xs:element name="URL_REVISTA" type="xs:string" />
              <xs:element name="VOLUMEN" type="xs:string" />
              <xs:element name="NUMERO" type="xs:string" />
              <xs:element name="PAGDESDE" type="xs:unsignedInt" />
              <xs:element name="PAGHASTA" type="xs:string" />
              <xs:element name="NUMPAG" type="xs:string" />
              <xs:element name="COAUT_EXT" type="xs:string" />
              <xs:element name="ARTI_DOI" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>